certifi==2022.12.7
charset-normalizer==2.1.1
dgl==0.9.1
idna==3.4
Jinja2==3.1.2
joblib==1.2.0
MarkupSafe==2.1.1
networkx==2.8.7
numpy==1.23.3
psutil==5.9.2
pyparsing==3.0.9
requests==2.28.1
scikit-learn==1.1.2
scipy==1.10.0
threadpoolctl==3.1.0
torch==1.13.1
torch-geometric==2.1.0.post1
torch-scatter==2.0.9
torch-sparse==0.6.15
tqdm==4.64.1
typing_extensions==4.4.0
urllib3==1.26.12
pyhocon==0.3.59
